/* =========================
   BASE PAGE
========================= */

body {
    background: #ffffff;
}

/* =========================
   MAP
========================= */

#map {
    width: 100%;
}

/* =========================
   LEAFLET TOOLTIP
========================= */

.leaflet-tooltip {
    background: rgba(255,255,255,0.97);
    border: none;
    border-radius: 6px;
    padding: 0.3rem 0.5rem;
    box-shadow: none;
    font-size: 0.8rem;
    color: #2f3e46;
}

.leaflet-tooltip::before {
    display: none;
}
.site-nav {
    display: none;
}

