/* =========================
   GLOBAL BACKGROUND
   (fallback outside map)
========================= */

body {
    background: #f5c26c;
}

/* =========================
   MAP / OCEAN COLOR
   (CARTO tiles background)
========================= */

#map {
    background: #d76cf5;
}

.leaflet-tile-pane {
    background: #d76cf5;
}

/* =========================
   LEAFLET TOOLTIP
   (travel-friendly)
========================= */

.leaflet-tooltip {
    background: rgba(255,255,255,0.97);
    border: none;
    border-radius: 6px;
    padding: 0.3rem 0.5rem;
    box-shadow: none;
    font-size: 0.8rem;
    color: #2f3e46;
}

.leaflet-tooltip::before {
    display: none;
}
